###  Desription of the Project
* 1. Start by creating a new Notebook for this assignment.
* 2. Scrapping the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table
** instead using BeautifulSoup package, https://wikitable2csv.ggor.de/ to transform the data

* 3. Import and print the datafra in accordance with tasks 
** import pandas library
** excluding cells -  Ignore cells with a borough that is Not assigned
** two similar rows ('Neighbourhood') were combined into one row with the neighborhoods separated with a comma
** If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [316]:
import pandas as pd # library to process data as dataframes
df1 = pd.read_csv('table-1.csv')# table-1.csv - file required
borough = df1['Borough']
df1=df1[borough != 'Not assigned']
df1=df1.groupby (['Postcode','Borough']) ['Neighbourhood'].apply(', '.join).reset_index()
postcode = df1['Postcode']
borough = df1['Borough']
neighbourhood = df1['Neighbourhood']
neighbourhood.replace("Not assighned",borough,inplace=True)



df1

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

* 4. In the last cell of notebook, was used the .shape method to print the number of rows of dataframe.

In [297]:
df1.shape[0]

103

In [292]:
postcode = df1['Postcode']
borough = df1['Borough']
neighbourhood = df1['Neighbourhood']

In [293]:
df2 = pd.read_csv('Geospatial_Coordinates.csv') #Geospatial_Coordinates.csv - file required
latitude = df2['Latitude']
longitude = df2['Longitude']
df2

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [317]:
data = {
        'Postcode': postcode,
        'Borough': borough, 
        'Neighbourhood': neighbourhood,
        'Latitude': latitude,
        'Longitude': longitude
}


df3 = pd.DataFrame(data, columns = ['Postcode', 'Borough', 'Neighbourhood','Latitude','Longitude'])
df3

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054